@model IEnumerable<FindaHall.Models.HallDetails>
@{
    ViewData["Title"] = "Home Page";
}


<form id="frmsearch" action="Map/Index" method="post">

    <div>
        <input list="txtname" name="txtname" placeholder="Location">
        <datalist id="txtname" name="txtname">
            @foreach (var item in Model)
            {
                <option data-value="@item.H_ID">@item.Hall_Name, @item.City, @item.Street</option>
                <option data-value="@item.H_ID">@item.City, @item.Street</option>
            }
        </datalist>

        
        <div><input type="submit" id="btnsearch" value="Search" /></div>
</form>